<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h1>Editing Artist</h1>

			<%= render 'form', artist: @artist %>

			<p class="edit-btn">
				<%= link_to "Cancel Edit", @artist, class: "btn btn-warning" %>
			</p>
		</div>
	</div>
</div>