<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h1>Editing Song</h1>

			<%= render 'form', song: @song %>

			<p class="edit-btn">
				<%= link_to 'Cancel Edit', @song, class: "btn btn-warning" %>
			</p>
		</div>
	</div>
</div>